<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.html'); -%>
</head>
<body>
    <!-- contenedor de la grilla -->
    <div class="grid">
      
        <%- include('./partials/header.html') -%>
      
        <main id="content" class="content-invite" style="background-image: url(<%= img %>);">
            <img class="logo" src="<%= logo %>" alt="">
            <p class="logo-text">Comandos Con Los Que Puedes Administrar o Entretenerte De Nuestro Bot</p>
            <a href="#informacion" class="boton" >Ir Abajo<i class='bx bxs-down-arrow-alt'></i></a>

            <div class="sesgoabajo"></div>
            <!-- <div class="wave" style="height: 100px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C196.10,191.93 364.84,-68.60 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div> -->
        </main>
        
        <section id="informacion" class="background-content">
            <h3 class="title-commands">Comandos del Bot</h3>
            <p class="commands"><strong>Ping</strong><br>
                x!ping-<strong>El bot responde con su ping!</strong><br><br>
                <strong>Comandos</strong><br>
                x!comandos-<strong>El bot te muestra una guia de comandos</strong><br><br>
                <strong>Creador</strong><br>
                x!creador-<strong>Muestra a los creadores del bot!</strong><br><br>
                <strong>Invite </strong><br>
                x!invite-<strong>Muestra el link de Invite para el bot</strong><br><br>
                <strong>Help</strong><br>
                xhelp-<strong>Muestra un mensaje de ayuda con novedades y cosas que te pueden ayudar!</strong><br><br>
                <strong>Contacto</strong><br>
                x!contacto-<strong>Contacto de ayuda sobre el bot</strong><br><br>
                <strong>Afk</strong><br>
                x!afk-<strong>El bot te pone en estado AFK</strong><br><br>
                <strong>Kick</strong><br>
                x!kick-<strong>El bot kickea al usuario</strong><br><br>
                <strong>Ban</strong><br>
                x!ban-<strong>El bot banea al usuario</strong><br><br>
                <strong>Mute</strong><br>
                x!mute-<strong>El bot mutea al usuario</strong><br><br>
                <strong>Server Info</strong><br>
                x!serverinfo-<strong>Muestra la informacion del bot</strong><br><br>
                <strong>Calculadora</strong><br>
                x!calculadora-<strong>Resuelve una cuenta!</strong><br><br>
                <strong>8Ball</strong><br>
                x!8ball-<strong>Respuesta random!</strong><br><br>
                <strong>Colaboradores</strong><br>
                x!colaboradores-<strong>Este comando te enseña la gente que colabora para mejorar el bot</strong><br><br>
                <strong>Say</strong><br>
                x!say-<strong>El bot dice lo que le escribas</strong><br><br>
                <strong>Enviar</strong><br>
                x!enviar-<strong>El bot le envia un mensaje a el usuario mencionado</strong><br><br>
                <strong>Stats</strong><br>
                x!stats-<strong>El bot te muestra sus estadisticas</strong><br><br>
                <strong>FakeBan</strong><br>
                x!fban-<strong>El bot hace un Fake ban</strong><br><br>
                <strong>Avatar</strong><br>
                x!avatar-<strong>El bot te muestra el avatar del que quieras</strong><br><br>
                <strong>Encuesta</strong><br>
                x!encuesta-<strong>El bot hace una encuesta de Si o no</strong><br><br>
                <strong>Pagina</strong><br>
                x!pagina-<strong>El bot te da el link de su pagina</strong></p>
            
            <!-- <div class="sesgoabajo1"></div> -->
        </section>
        
        <%- include('./partials/footer.html'); -%>
    
    </div>

    <button class="change-theme"><i class='bx bx-brush' ></i></button>

</body>
</html>