<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.html'); -%>
</head>
<body>
    <!-- contenedor de la grilla -->
    <div class="grid">
      
        <%- include('./partials/header.html') -%>
      
        <main id="content" class="content-invite" style="background-image: url(<%= img %>);">
            <img class="logo" src="<%= logo %>" alt="">
            <p class="logo-text">Invita nuestro bot a tu discord para que te ayude a administrarlo de la forma correcta</p>
            <a href="https://discord.com/oauth2/authorize?client_id=720774737181278280&permissions=8&scope=bot" class="boton">Invitar</a>
            <a href="#informacion" class="boton" >Ir Abajo<i class='bx bxs-down-arrow-alt'></i></a>

            <div class="sesgoabajo"></div>
            <!-- <div class="wave" style="height: 100px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C196.10,191.93 364.84,-68.60 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div> -->
        </main>
        
        <section id="informacion" class="background-content-index">
            <img class="img-svg" src="img/chat_bot.svg" alt="">
            <h3 class="title-text-right">Sobre Nuestro Bot</h3>
            <p class="text-right">Necesitas un bot de moderación y entretenimiento? Te presentó  a Xeonmine</p>
            
            <!-- <div class="sesgoabajo1"></div> -->
        </section>
        
        <%- include('./partials/footer.html'); -%>
    
    </div>

</body>
</html>