<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xeonmine</title>
    <%- include('./partials/head.html'); -%>
</head>
<body>
    <!-- contenedor de la grilla -->
    <div class="grid">
      
        <%- include('./partials/header.html'); -%>
      
        <main id="content" class="content-invite">
            <img class="logo" src="img/logo.jpeg" alt="">
            <p class="logo-text">En esta seccion te comentamos un poco sobre nosotros y nuestro bot</p>
            <a href="#informacion" class="boton" >Ir Abajo<i class='bx bxs-down-arrow-alt'></i></a>

            <div class="sesgoabajo"></div>
            <!-- <div class="wave" style="height: 100px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C196.10,191.93 364.84,-68.60 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div> -->
        </main>
        
        <section id="informacion" class="background-content">
            <h3 class="title-commands">Sobre Nosotros</h3>
            <p class="commands">El Bot fue creado principalmente para la comunidad de Xeonmine, pero se abrio al público para que mas gente lo pudiera usar <br> <br> El creador del bot es 𝑅𝒶𝒾𝓃#5009 y el de la pagina es Minterger#5226</p>
            <!-- <div class="sesgoabajo1"></div> -->
        </section>
        
        <%- include('./partials/footer.html'); -%>
    
    </div>

</body>
</html>